body {
    margin: 80px;
}

nav.navbar {
    display: grid;
  grid-template-columns: repeat(3, 1fr); 
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  gap: 10px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: firebrick;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 35px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
} 

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
}

img {
    border-radius: 80px;
    width: 500;
}

.figures {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.images {
  border: 3px solid #333;
  padding: 10px;
  border-radius: 12px;
  display: block;              
  max-width: 100%;           
  box-sizing: border-box;
}

.images:hover {
    border-color: transparent;
    transform: scale(1.1);
}

figcaption {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.offpage {
    position: absolute; 
  top: -40px;
  background: #000; 
  color: #fff;
  padding: 8px 16px;
  z-index: 100;
  text-decoration: none;
  border-radius: 4px;
  transition: top 0.3s ease;
}

.offpage:focus {
  top: 10px;
}

.section {
  background: #fff;
  border-radius: 35px;
  padding: 20px;
  box-shadow: 5px 15px 20px 15px rgba(0, 0, 0, 0.1); 
  opacity: 0.95;
  margin-bottom: 50px;            
}


