body {
	font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 150%;
}

header {
	background-color: bisque;
}

nav {
	background-color: aliceblue;
}

main {
	background-color: antiquewhite;
	font-size: 120%;
}

footer {
	background-color: coral;
}

li {
display: grid;
width: fit-content;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
}

p {
	line-height: normal;
}